<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (typeof customStylesheet !== 'undefined') { %>
    <link rel="stylesheet" href="<%= customStylesheet %>">
  <% } %>
</head>
<body>
  <header>
    <h1>GameHub</h1>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/game/fourchette">Fourchette</a></li>
        <li><a href="/game/diceroller">Diceroller</a></li>
      </ul>
    </nav>
  </header>