<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Invader</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/invader.css">
  
</head>

<body>
  <main>
    <div id="invader">
    </div>
  </main>
  <footer>
   
    <button id="empty-color" class="button-color empty-color current-color"></button>
    <button id="plain-color" class="button-color plain-color"></button>
    <button id="light-color" class="button-color light-color"></button>
    <button id="highlight-color" class="button-color highlight-color"></button>
 
  </footer>
  <script src="../js/invader.app.js"></script>
  
</body>



</html>